* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f7fa;
    color: #34495e;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header h1 {
    text-align: center;
    color:  #00129a;
    border-bottom: 3px solid #00129a;
    padding-bottom: 10px;
    font-weight: bold;
}

h2 {
    color:#00129a;
    margin-top: 25px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid #ffffff; /* Adds a border at the bottom */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ecf0f1;
}

th {
    background-color:  #00129a;
    color: #fff;
}

button, input[type="text"] {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
}

button {
    background-color:  #00129a;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:  #00129a;
}

input[type="text"] {
    width: calc(50% - 24px);
    color: #34495e;
}

.form-section {
    margin: 20px 0;
}

.nav-button {
    display: block;
    width: 100%;
    background-color:  #00129a;
    color: #fff;
    text-align: center;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.nav-button:hover {
    background-color:  #00129a;
}
